*{
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: relative;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 51px;
    height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.logo-container{
    flex:1;
}
.logo{
    font-family: 'Roboto', sans-serif;
    color: #4dbf00;
    cursor: pointer;
}
.menu-container{
    flex:5;
}
.menu-list{
    display: flex;
    list-style: none;
    
}
.menu-list-item{
    margin-right: 30px;
    cursor: pointer;
}
.active{
    font-weight: bold;
}
.profile-container{
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.profile-text{
    margin: 20px;
}
.profile-picture{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.toggle-icon{
    color: goldenrod;
}
.toggle-ball{
    width: 19px;
    height: 19px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
}
.sidebar{
    width: 50px;
    height: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.left-menu-icon{
    color: white;
    margin: 30px;
    font-size: 20px;
    cursor: pointer;
}
.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white; 
}
.content-container{
    margin-left: 50px;
}
.fetured-content{
    background-color: #264413;
    height: 50vh;
    padding: 50px;
    background-size: 70%;
    background-position: 50%;
}
.featured-title{
    width: 400px;
}
.featured-desc{
    width: 500px;
    color: wheat;
    margin: 30px 0;
}
.featured-button{
    background-color: #4dbf00;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}
.movie-list-container{
    padding: 0 20px;
}
.movie-list{
    display: flex;
    height: 300px;
    align-items: center;
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list-item{
    margin-right: 30px;
    position: relative;
}
.movie-list-item:hover .movie-list-item-image{
    transform: scale(1.2);
    margin: 0 20px;
    opacity: 0.5;
}
.movie-list-item-image{
    transition: all 1s ease-in-out;
    width: 250px;
    height: 200px;
    object-fit: cover;
}
.movie-list-item:hover .movie-list-item-title, 
.movie-list-item:hover .movie-list-item-desc, 
.movie-list-item:hover .movie-list-button{
    opacity: 1;
}

.movie-list-item-title{
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 45%;
    left: 30%;
    opacity: 0;
    transition: all 1s ease;
}
.movie-list-item-desc{
    padding: 0 10px;
    font-size: 14px;
    position: absolute;
    top: 65%;
    left: 20%;
    width: 200px;
    opacity: 0;
    transition: all 1s ease;
}
.movie-list-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 15%;
    outline: none;
    border: none;
    cursor: pointer;
    position:absolute;
    bottom: 1px;
    left: 100px;
    opacity: 0;
    transition: all 1s ease;
}
.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    cursor: pointer;
    color: gray;
    opacity: 0.5;
}